body{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: Helvetica, sans-serif;
    /* border: 2px solid red; */
}

h1{
    text-align: center;
}



button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #a4a4a4;
    font-size: 20px;
    color: white;
    min-height: fit-content;
    margin: 50px 0 20px 0;   
}

button:hover{
    background: white;
    color: #a4a4a4;
}

input{
    width: 70px;
    height: 25px;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #a4a4a4;
}

input[type=text]{
    text-align: center;
    font-size: 14px;
}